#outer
{

background-color: #EEE;
position: relative;
}


#inner
{

background-color: #FFF;
position: absolute;
}



.new{
    border-style: solid;
    border-width: 1px;
    text-align: left;
    width:430px;
    height: 100px;	

}

.f_resume{
    border-style: solid;
    border-width: 1px;
    text-align: left;
    width:430px;
    height: 100px;	

}
.f_degree{
    border-style: solid;
    border-width: 1px;
    text-align: left;
    width:430px;
    height: 100px;	

}

.close{

	left:0;
	height:20px;
	width: 20px; 
}

.close_degree{

	right:0;
	height:20px;
	width: 20px; 
}


.additional{

height:50px;
width:10px;

}

.addsym{
	right: 0;
	text-align: right;
}


.hide1{
left: 50%;
width:600px;
}

.hide2{
left: 50%;
width:1000px;
}


.control{
    
    height: 2000px;
    width: 1200px;
    background-color: #FBF7F7;
}


#resp{
height: 400px;
width: 400px;
text-align: center;

}